<div class="mx-4 mt-4">

  <div class="input-group mb-2">
    <input
      (keydown)="getDefinitionOnKey($event)"
      [(ngModel)]="word"
      type="search"
      class="form-control bg-secondary no-border txt-green"/>

    <div class="ms-2">
      <button (click)="getDefinition(word)" class="btn btn-outline-green" type="submit">Search</button>
    </div>
  </div>

  <div *ngIf="dictEntries.length <= 0">
    <app-loading/>
  </div>
  <div *ngIf="dictEntries.length > 0">
    <h1 class="display-1 jap-font fw-bold text-center text-capitalize txt-green">
      {{dictEntries[0].word}}
    </h1>
    <p>{{dictEntries[0].origin}}</p>
    <div class="accordion">
      <app-accordion-item [title]="'Meanings'">
        <div *ngFor="let meaning of dictEntries[0].meanings" class="card mb-2 bg-main">
          <div class="card-body">
            <p class="txt-gray fs-6 text-uppercase"><i>{{meaning.partOfSpeech}}</i></p>
            <div *ngFor="let def of meaning.definitions; let i = index;">
              <p class="txt-green fs-5">{{i + 1}}. {{def.definition}}</p>
              <p *ngIf="def.example" class="txt-white fs-6"><i>"{{def.example}}"</i></p>
            </div>
          </div>
        </div>
      </app-accordion-item>

      <app-accordion-item [title]="'Synonyms'" *ngIf="synonyms.length > 0">
        <div class="card mb-2 bg-main">
          <div class="card-body">
            <div *ngFor="let syn of synonyms; let i = index;">
              <p class="txt-green fs-5 text-capitalize">{{i + 1}}. {{syn}}</p>
            </div>
          </div>
        </div>
      </app-accordion-item>

      <app-accordion-item [title]="'Antonyms'" *ngIf="antonyms.length > 0">
        <div class="card mb-2 bg-main">
          <div class="card-body">
            <div *ngFor="let ant of antonyms; let i = index;">
              <p class="txt-green fs-5 text-capitalize">{{i + 1}}. {{ant}}</p>
            </div>
          </div>
        </div>
      </app-accordion-item>

      <app-accordion-item [title]="'Phonetics'">
        <div class="" *ngFor="let phonetic of dictEntries[0].phonetics">
          <p class="txt-green fs-5">[ {{phonetic.text}} ] <span class="fs-6" *ngIf="!phonetic.audio">(no audio)</span>
          </p>
          <audio controls *ngIf="phonetic.audio">
            <source src="{{phonetic.audio}}" type="audio/mpeg">
          </audio>
        </div>
      </app-accordion-item>
    </div>
  </div>
</div>

